<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj pokój</title>

    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for(var i=0; i < cbs.length; i++) {
                if(cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>

</head>
<body>

    <h2 th:text="'Zalogowany użytkownik: ' + ${member}"></h2>

    <form action="#" th:action="@{/newroom}" th:object="${room}" method="post">
        <label for="name">Nazwa:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="nazwa pokoju" required/>
        <br>
        <br>
        <div th:each="card : ${allCards}" style="display: inline-block; margin-right: 10px;">
            <input type="checkbox" th:id="${card.id}" th:value="${card.id}" th:field="*{cards}" />
            <label th:for="${card.id}" th:text="${card.figure}"></label>
        </div>
        <br>

        <div>
            <input type="checkbox" onClick="checkAll(this)" /> Zaznacz wszystkie karty
        </div>

        <button type="submit">Zapisz</button>

        <h2><a  th:href="@{/rooms}">Lista pokoi</a></h2>

    </form>

</body>
</html>