<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SCRUM Room</title>
</head>
<body>

<!--    Przekazać komplet kart, jeśli karta dostępna w pokoju, chckbx zaznaczony -->
    <h2 th:text="'Zalogowany użytkownik: ' + ${member}"></h2>
    <h2 th:text="'SCRUM Room Name: ' + ${room.getName()}"></h2>
    <h2 th:text="'SCRUM Room Code: ' + ${room.getCode()}"></h2>
    <h2 <span th:each=" card : ${room.getCards()} " th:text="${card.figure + ' '}"></span>></h2>

    <h2><a  th:href="@{/rooms}">Lista pokoi</a></h2>

</body>
</html>