<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SCRUM Voting</title>
</head>
<body>

        <!--    Przekazać komplet kart, jeśli karta dostępna w pokoju, chckbx zaznaczony -->
        <h2 th:text="'Zalogowany użytkownik: ' + ${member}"></h2>
        <h2 th:text="'SCRUM Room Name: ' + ${room.getName()}"></h2>
        <h2 th:text="'SCRUM Room Code: ' + ${room.getCode()}"></h2>

        <form action="#" th:action="@{/voting/{code}(code=${room.getCode()})}" th:object="${room}" method="get"> <!-- th:object="${room}" -->
            <div th:each="card : ${room.getCards()}">
                <input type="radio" th:value="${card.getFigure()}" th:text="${card.getFigure()}" name="card" />
            </div>

            <button type="submit">Głosuj</button>

            <h2><a  th:href="@{/rooms}">Lista pokoi</a></h2>

        </form>

</body>
</html>