<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SCRUM Voting</title>
</head>

<body>

        <h2 th:text="'Zalogowany użytkownik: ' + ${member}"></h2>
        <h2 th:text="'SCRUM Room Name: ' + ${room.getName()}"></h2>
        <h2 th:text="'SCRUM Room Code: ' + ${room.getCode()}"></h2>

        <form action="#" th:action="@{/saveVote/{code}(code=${room.getCode()})}" th:object="${room}" method="post">
            <div th:each="card, stat : ${room.getCards()}">
            <input type="radio" th:value="${card.getId()}" th:text="${card.getFigure()}" name="card" th:required="${stat.first}" th:checked="${card != null && selectedCard != null && card.getId() == selectedCard.getId()}"/>
            </div>

            <button type="submit">Głosuj</button>

<!--            <ul th:each="voter : ${voters}">-->
<!--                <li>-->
<!--                    <span th:text="${voter.name}"></span>-->
<!--                    <a th:href="@{/deleteVoter/{id}/{code} (id=${voter.id}, code=${room.getCode()})}" th:text="${'Usuń'}"></a>-->
<!--                </li>-->
<!--            </ul>-->

            <ul th:each="vote : ${votes}">
                <td th:text="${vote.getVoter().getName()}"></td>
                <td th:text="${vote.getVote() != null ? vote.getVote().getFigure() : 'Oczekiwanie na głos'}"></td>
                <a th:href="@{/deleteVoter/{id}/{code} (id=${vote.getVoter().getId()}, code=${room.getCode()})}" th:text="${'Usuń'}"></a>
            </ul>

            <h2><a  th:href="@{/rooms}">Lista pokoi</a></h2>

        </form>

</body>
</html>